aside {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 400px;
    background-color: lightgray;
    margin: 2px 0 2px 2px;

    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
}

aside img {
    width: 80px;
}
aside input {
    width: 250px;
}

aside button {
    margin: 2px 0 2px 2px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
}

h1 {
    font-size: 100%;
}
h2 {
    font-size: 150%;
}